<template>
    <v-container>
        <v-row>
            <v-col cols="4" class="text-h5">
                Project: {{ entries[0].project_name }}</v-col
            >
            <v-col cols="8" class="text-h5"> URI: {{ entries[0].uri }}</v-col>
        </v-row>
        <v-row>
            <v-col cols="4">
                <EntryTable :entries="entries" :newEntries="newEntries"></EntryTable>
            </v-col>
            <v-col cols="8">
                <v-container>
                    <v-row>
                        <v-col>
                            <v-tabs v-model="tab" align-with-title>
                                <v-tab> Request </v-tab>
                                <v-tab> Models </v-tab>
                                <v-tab> Exceptions </v-tab>
                            </v-tabs>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-tabs-items v-model="tab">
                                <v-tab-item>
                                    <EntryRequestCard
                                        title="Request Info"
                                        :json_info="entries[entrySelected].request_info"
                                    >
                                    </EntryRequestCard>
                                </v-tab-item>
                                <v-tab-item>
                                    <EntryCodeCard
                                        title="Models Info"
                                        :json_info="entries[entrySelected].models_info"
                                    >
                                    </EntryCodeCard>
                                </v-tab-item>
                                <v-tab-item>
                                    <EntryCodeCard
                                        title="Exceptions Info"
                                        :json_info="
                                            entries[entrySelected].exceptions_info
                                        "
                                    >
                                    </EntryCodeCard>
                                </v-tab-item>
                            </v-tabs-items>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import EntryTable from "@components/EntryTable.vue";
import EntryCodeCard from "@components/EntryCodeCard.vue";
import EntryRequestCard from "@components/EntryRequestCard.vue";
import EntryService from "@services/EntryService";
EntryCodeCard;
export default {
    name: "Entries",
    props: {
        idLog: {
            type: String,
            default: "0",
        },
    },
    components: {
        EntryTable,
        EntryCodeCard,
        EntryRequestCard,
    },
    data: () => ({
        entrySelected: 0,
        entries: [
            {
                duration: "",
                id: 0,
                ip: "0.0.0.0",
                log_id: 0,
                request_info: "{}",
                models_info: "{}",
                exceptions_info: "{}",
                datetime: "",
                status: "",
            },
        ],
        newEntries: [],
        entriesInterval: null,
        tab: null,
    }),

    computed: {
        lastEntryId() {
            return this.entries[0] ? this.entries[0].id : -1;
        },
    },

    methods: {
        getEntriesByIdLog() {
            EntryService.getEntriesByIdLog(this.idLog)
                .then((response) => {
                    this.entries = response.data;
                })
                .catch((err) => {});
        },
        getNewEntries() {
            if (this.lastEntryId == -1) {
                return;
            }

            EntryService.getNewEntries(this.idLog, this.lastEntryId)
                .then((response) => {
                    console.log(response.data);
                    if (response.data.length != 0) {
                        this.newEntries = response.data;
                        this.newEntries.forEach((item) => {
                            item.isNew = 1;
                            this.entries.unshift(item);
                        });
                    }
                })
                .catch((err) => {});
        },
    },
    mounted() {
        this.getEntriesByIdLog();

        this.entriesInterval = setInterval(() => {
            this.getNewEntries();
        }, 3000);
    },
    beforeDestroy() {
        //Stop polling when the page isn't active
        clearInterval(this.entriesInterval);
    },
};
</script>
