<template>
    <v-data-table
        :headers="headers"
        :items="projects"
        :loading="loadingTable"
        :options.sync="optionsTable"
        :server-items-length="totalProjects"
        :single-expand="true"
        :expanded.sync="expanded"
        show-expand
        sort-by="id"
        class="elevation-0"
        @click:row="(item, slot) => slot.expand(!slot.isExpanded)"
    >
        <template v-slot:expanded-item="{ headers, item }">
            <td :colspan="headers.length">
                <LogTable :logs="item.logs"> </LogTable>
            </td>
        </template>
        <template v-slot:no-data>
            <v-btn color="primary" @click="initialize"> Reset </v-btn>
        </template>
    </v-data-table>
</template>

<script>
import LogTable from "@components/LogTable.vue";
import LogService from "@services/LogService";

export default {
    name: "Logs",
    components: {
        LogTable,
    },

    data: () => ({
        projects: [],
        totalProjects: 0,
        loadingTable: false,
        optionsTable: {},
        singleExpand: true,
        expanded: [],
        headers: [
            { text: "Project name", value: "project_name" },
            { text: "Status", value: "status", sortable: false },
            { text: "Mode", value: "mode", sortable: false },
        ],
        logInterval: null,
    }),

    computed: {
        params() {
            return {
                page: this.optionsTable.page,
                per_page: this.optionsTable.itemsPerPage,
                sort_by: !!this.optionsTable.sortBy
                    ? this.optionsTable.sortBy[0]
                    : undefined,
                sort_desc: !!this.optionsTable.sortDesc
                    ? this.optionsTable.sortDesc[0]
                    : undefined,
            };
        },
    },

    watch: {
        optionsTable: {
            handler() {
                this.getProjects();
            },
            deep: true,
        },
    },
    methods: {
        initialize() {
            this.projects = [];
            this.totalProjects = 0;
            this.getProjects();
        },

        getLastIdEachProject() {
            return this.projects.map((project) => ({
                project_id: project.id,
                log_id: Math.max.apply(
                    null,
                    project.logs.map((log) => log.id)
                ),
            }));
        },

        getProjects() {
            this.loadingTable = true;
            LogService.getProjectsWithLogs(this.params)
                .then((response) => {
                    let data = response.data;
                    this.totalProjects = data.total;
                    this.projects = data.data;
                })
                .finally(() => (this.loadingTable = false));
        },
        getNewLogs() {
            this.loadingTable = true;

            let projectsWithIdLogs = this.getLastIdEachProject();
            let params = {
                ...this.params,
                projectsWithIdLogs,
            };

            LogService.getNewLogs(params)
                .then((response) => {
                    let data = response.data;
                    this.addNewLogs(data);
                })
                .finally(() => (this.loadingTable = false));
        },

        addNewLogs(arrayLogs) {
            for (let logId in arrayLogs) {
                if (arrayLogs[logId].length != 0) {
                    let project = this.projects.find((x) => x.id == logId);
                    project.logs.push(...arrayLogs[logId]);
                }
            }
        },
    },

    created() {
        this.initialize();
        this.logInterval = setInterval(() => {
            this.getNewLogs();
        }, 3000);
    },
    beforeDestroy() {
        //Stop polling the server when the page isn't active
        clearInterval(this.logInterval);
    },
};
</script>
