<template>
    <v-data-table
        :headers="headers"
        :items="projects"
        :loading="loadingTable"
        :options.sync="optionsTable"
        :server-items-length="totalProjects"
        sort-by="id"
        class="elevation-0"
    >
        <template v-slot:top>
            <v-toolbar flat>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                            New project
                        </v-btn>
                    </template>
                    <v-card>
                        <v-card-title>
                            <span class="text-h5">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" v-if="editedIndex >= 0">
                                        <v-text-field
                                            v-model="editedProject.id"
                                            label="id"
                                            disabled
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field
                                            v-model="editedProject.project_name"
                                            label="Project Name"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field
                                            v-model="editedProject.url"
                                            label="Url"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field
                                            v-model="editedProject.status"
                                            label="Status"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field
                                            v-model="editedProject.token"
                                            label="Token"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-switch
                                            v-model="editedProject.static_ip"
                                            label="Static IP"
                                        ></v-switch>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field
                                            v-model="editedProject.mode"
                                            label="Mode"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-btn
                                color="blue darken-1"
                                text
                                @click="pingRat"
                                :disable="isUrlValid"
                            >
                                Test Conection
                            </v-btn>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="close">
                                Cancel
                            </v-btn>
                            <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                        <v-card-title class="text-h5">
                            Are you sure you want to delete this item?
                        </v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDelete">
                                Cancel
                            </v-btn>
                            <v-btn color="blue darken-1" text @click="deleteItemConfirm">
                                OK
                            </v-btn>
                            <v-spacer></v-spacer>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
            <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
        </template>
        <template v-slot:no-data>
            <v-btn color="primary" @click="initialize"> Reset </v-btn>
        </template>
    </v-data-table>
</template>

<script>
import ProjectService from "@services/ProjectService";

export default {
    name: "Projects",
    data: () => ({
        projects: [],
        totalProjects: 0,
        loadingTable: false,
        optionsTable: {},
        dialog: false,
        dialogDelete: false,
        headers: [
            { text: "id", value: "id" },
            { text: "Project name", value: "project_name" },
            { text: "Url", value: "url" },
            { text: "Status", value: "status", sortable: false },
            { text: "Token", value: "token", sortable: false },
            { text: "Static ip", value: "static_ip", sortable: false },
            { text: "Mode", value: "mode", sortable: false },
            { text: "Actions", value: "actions", sortable: false },
        ],

        editedIndex: -1,
        editedProject: {
            id: "",
            project_name: "",
            url: "",
            status: "",
            token: "",
            static_ip: false,
            mode: "",
        },
        defaultProject: {
            id: "",
            project_name: "",
            url: "",
            status: "",
            token: "",
            static_ip: false,
            mode: "",
        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? "New Project" : "Edit Project";
        },

        params() {
            return {
                page: this.optionsTable.page,
                per_page: this.optionsTable.itemsPerPage,
                sort_by: !!this.optionsTable.sortBy
                    ? this.optionsTable.sortBy[0]
                    : undefined,
                sort_desc: !!this.optionsTable.sortDesc
                    ? this.optionsTable.sortDesc[0]
                    : undefined,
            };
        },
        isUrlValid() {
            return this.editedProject.url !== "";
        },
    },

    watch: {
        dialog(val) {
            val || this.close();
        },
        dialogDelete(val) {
            val || this.closeDelete();
        },

        optionsTable: {
            handler() {
                this.getProjects();
            },
            deep: true,
        },
    },
    methods: {
        initialize() {
            this.projects = [];
            this.totalProjects = 0;
            this.getProjects();
        },

        getProjects() {
            this.loadingTable = true;
            ProjectService.getProjects(this.params)
                .then((response) => {
                    let data = response.data;
                    this.totalProjects = data.total;
                    this.projects = data.data;
                })
                .finally(() => (this.loadingTable = false));
        },

        editItem(item) {
            this.editedIndex = this.projects.indexOf(item);
            this.editedProject = Object.assign({}, item);
            this.dialog = true;
        },

        deleteItem(item) {
            this.editedIndex = this.projects.indexOf(item);
            this.editedProject = Object.assign({}, item);
            this.dialogDelete = true;
        },

        deleteItemConfirm() {
            ProjectService.deleteProject(this.editedProject.id);
            this.getProjects();
            this.closeDelete();
        },

        close() {
            this.dialog = false;
            this.$nextTick(() => {
                this.editedProject = Object.assign({}, this.defaultProject);
                this.editedIndex = -1;
            });
        },

        closeDelete() {
            this.dialogDelete = false;
            this.$nextTick(() => {
                this.editedProject = Object.assign({}, this.defaultProject);
                this.editedIndex = -1;
            });
        },

        save() {
            let auxItem = this.editedProject;
            if (this.editedIndex > -1) {
                let auxIndex = this.editedIndex;
                ProjectService.updateProject(this.editedProject).then((response) => {
                    Object.assign(this.projects[auxIndex], auxItem);
                });
            } else {
                ProjectService.postNewProject(this.editedProject).then((response) => {
                    this.getProjects();
                });
            }
            this.close();
        },

        pingRat() {
            ProjectService.pingRat(this.editedProject.url).then((response) => {
                console.log("Rata connected");
            });
        },
    },

    created() {
        this.initialize();
    },
};
</script>
