<template>
    <v-card>
        <v-card-title @click="show = !show">
            {{ title }}
            <v-spacer></v-spacer>
            <v-btn icon>
                <v-icon>{{ show ? "mdi-chevron-up" : "mdi-chevron-down" }}</v-icon>
            </v-btn>
        </v-card-title>
        <v-expand-transition>
            <v-container v-show="show">
                <v-row v-for="(value, key) in info">
                    <v-col cols="2">
                        {{ key }}
                    </v-col>
                    <v-col cols="10">
                        <div class="data_info">
                            <pre>{{ value | json }}</pre>
                        </div>
                    </v-col>
                </v-row>
            </v-container>
        </v-expand-transition>
    </v-card>
</template>
<script>
export default {
    name: "EntryRequestGroup",
    props: {
        title: {
            type: String,
            default: "",
        },
        info: {
            type: Object,
            default: () => {},
        },
    },
    filters: {
        json: function (value) {
            return JSON.stringify(value, null, "\t");
        },
    },
    data: () => ({
        show: false,
    }),
};
</script>
<style scoped>
code.pre {
    white-space: break-spaces;
}

.data_info {
    background-color: #f2f2f2;
}
</style>
