<template>
    <v-card>
        <v-card-title>
            {{ title }}
        </v-card-title>
        <v-container>
            <v-row v-for="(value, key) in info">
                <v-col cols="2" style="text-transform: capitalize">
                    {{ key }}
                </v-col>
                <v-col cols="10">
                    <div class="data_info">
                        <pre>{{ value | json }}</pre>
                    </div>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>
<script>
export default {
    name: "EntryCodeCard",
    props: {
        title: {
            type: String,
            default: "",
        },
        json_info: {
            type: String,
            default: "",
        },
    },
    filters: {
        json: function (value) {
            return JSON.stringify(value, null, "\t");
        },
    },
    computed: {
        info() {
            return JSON.parse(this.json_info);
        },
    },
    data: () => ({
        show: false,
    }),
};
</script>
<style scoped>
code.pre {
    white-space: break-spaces;
}

.data_info {
    background-color: #f2f2f2;
}
</style>
