<template>
    <v-card>
        <v-card-title>
            {{ title }}
        </v-card-title>
        <v-container>
            <v-row>
                <v-col>
                    <EntryRequestGroup
                        title="General Info"
                        :info="reduceObject(info, generalInfo)"
                    >
                    </EntryRequestGroup>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <EntryRequestGroup
                        title="Request Body"
                        :info="reduceObject(info, requestBody)"
                    >
                    </EntryRequestGroup>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <EntryRequestGroup
                        title="Response Body"
                        :info="reduceObject(info, responseBody)"
                    ></EntryRequestGroup>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <EntryRequestGroup
                        title="Addicional Request Info"
                        :info="reduceObject(info, requestInfo)"
                    ></EntryRequestGroup>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>
<script>
import EntryRequestGroup from "./EntryRequestGroup.vue";
export default {
    name: "EntryRequestCard",
    props: {
        title: {
            type: String,
            default: "",
        },
        json_info: {
            type: String,
            default: "",
        },
    },
    components: {
        EntryRequestGroup,
    },
    filters: {
        json: function (value) {
            return JSON.stringify(value, null, "\t");
        },
    },
    computed: {
        info() {
            return JSON.parse(this.json_info);
        },
    },
    data: () => ({
        show: false,
        generalInfo: [
            "content_type",
            "duration",
            "forma",
            "path_info",
            "status_code",
            "status_text",
        ],
        requestBody: ["request_query", "request_body"],
        responseBody: ["response_body"],
        requestInfo: ["request_cookies", "request_headers", "request_server"],
    }),
    methods: {
        reduceObject(obj, keys) {
            return Object.keys(obj)
                .filter((i) => keys.includes(i))
                .reduce((acc, key) => {
                    acc[key] = obj[key];
                    return acc;
                }, {});
        },
    },
};
</script>
<style scoped>
code.pre {
    white-space: break-spaces;
}

.data_info {
    background-color: #f2f2f2;
}
</style>
