<template>
    <v-simple-table>
        <template v-slot:default>
            <thead>
                <tr>
                    <td>Ip</td>
                    <td>Status Code</td>
                    <td>Datetime</td>
                    <td>Duration</td>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="(entry, index) in entries"
                    :key="entry.name"
                    :class="entry.isNew ? 'new-border' : ''"
                >
                    <td>{{ entry.ip }}</td>
                    <td>{{ entry.status_code }}</td>
                    <td>{{ entry.datetime }}</td>
                    <td>{{ entry.duration }}</td>
                </tr>
            </tbody>
        </template>
    </v-simple-table>
</template>
<script>
export default {
    name: "EntryTable",
    props: {
        entries: {
            type: Array,
            default: [],
        },
        newEntries: {
            type: Array,
            default: [],
        },
    },
    components: {},
    computed: {},
    data: () => ({}),
    filters: {
        json: function (value) {
            return JSON.stringify(JSON.parse(value), null, 2);
        },
    },
    methods: {
        isNew(entry, index) {
            return index < this.newEntries.index && this.newEntries[index].id == entry.id;
        },
    },
    mounted() {},
};
</script>
<style>
.new-border {
    animation: new-border 2s linear 0s;
}

@keyframes new-border {
    from {
        box-shadow: 0px 0px 0px 4px;
    }
    to {
        box-shadow: 0px 0px 0px 0px;
    }
}
</style>
