<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="logs"
            sort-by="id"
            class="elevation-0"
            @click:row="clickRow"
        >
        </v-data-table>
    </div>
</template>
<script>
export default {
    name: "LogTable",
    props: {
        logs: {
            type: Array,
            default: () => [],
        },
    },

    data: () => ({
        headers: [
            { text: "id", value: "id", sortable: false },
            { text: "URI", value: "uri", sortable: false },
            { text: "URI Type", value: "uri_type", sortable: false },
        ],
    }),

    methods: {
        clickRow(item, slot) {
            this.$router.push({ name: "entries", params: { idLog: item.id + "" } });
        },
    },
};
</script>
