<template>
    <v-app-bar
        id="default-app-bar"
        app
        absolute
        class="v-bar--underline"
        color="transparent"
        :clipped-left="$vuetify.rtl"
        :clipped-right="!$vuetify.rtl"
        height="70"
        flat
    >
        <v-app-bar-nav-icon class="hidden-md-and-up" @click="drawer = !drawer" />

        <v-btn class="ml-3 mr-4" elevation="1" fab small @click="$emit('miniToggle')">
            <v-icon>
                {{ mini ? "mdi-format-list-bulleted" : "mdi-dots-vertical" }}
            </v-icon>
        </v-btn>

        <v-toolbar-title class="font-weight-light text-h5" v-text="name" />

        <v-spacer />

        <v-text-field
            placeholder="Search"
            class="mr-16 hidden-sm-and-down"
            color="secondary"
            hide-details
            style="max-width: 220px"
        >
            <template v-if="$vuetify.breakpoint.mdAndUp" v-slot:append-outer>
                <v-btn class="mt-n2 ml-n2" fab small elevation="2" height="44" width="44">
                    <v-icon>mdi-magnify</v-icon>
                </v-btn>
            </template>
        </v-text-field>

        <v-btn class="ml-2" min-width="0" text to="/" exact>
            <v-icon>mdi-view-dashboard</v-icon>
        </v-btn>

        <v-menu bottom left offset-y origin="top right" transition="scale-transition">
            <template v-slot:activator="{ attrs, on }">
                <v-btn class="ml-2" min-width="0" text v-bind="attrs" v-on="on">
                    <v-badge bordered color="red" overlap>
                        <template v-slot:badge>
                            <span>5</span>
                        </template>

                        <v-icon>mdi-bell</v-icon>
                    </v-badge>
                </v-btn>
            </template>

            <v-list flat nav>
                <v-list-item v-for="(n, i) in notifications" :key="i" link>
                    <v-list-item-title>{{ n }} </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>

        <v-menu
            bottom
            left
            min-width="200"
            offset-y
            origin="top right"
            transition="scale-transition"
        >
            <template v-slot:activator="{ attrs, on }">
                <v-btn class="ml-2" min-width="0" text v-bind="attrs" v-on="on">
                    <v-icon>mdi-account</v-icon>
                </v-btn>
            </template>

            <v-list :tile="false" flat nav>
                <template v-for="(p, i) in profile">
                    <v-divider v-if="p.divider" :key="`divider-${i}`" class="mb-2 mt-2" />

                    <v-list-item v-else :key="`item-${i}`" to="/">
                        <v-list-item-title v-text="p.title" />
                    </v-list-item>
                </template>
            </v-list>
        </v-menu>
    </v-app-bar>
</template>

<script>
export default {
    name: "AppBar",

    props: {
        mini: {
            type: Boolean,
            default: false,
        },
    },

    data: () => ({
        name: "Test",
        notifications: [
            "Mike John Responded to your email",
            "You have 5 new tasks",
            "You're now friends with Andrew",
            "Another Notification",
            "Another one",
        ],

        profile: [
            { title: "Profile" },
            { title: "Settings" },
            { divider: true },
            { title: "Log out" },
        ],
    }),
};
</script>
