<template>
    <v-navigation-drawer
        id="default-drawer"
        v-model="drawer"
        :dark="dark"
        :right="$vuetify.rtl"
        :src="drawerImage ? image : ''"
        :mini-variant.sync="mini"
        mini-variant-width="80"
        app
        width="260"
    >
        <template v-if="drawerImage" #img="props">
            <v-img :key="image" :gradient="gradient" v-bind="props" />
        </template>

        <div class="px-2">
            <v-list-item class="mb-0 justify-space-between pl-3">
                <v-list-item-avatar>
                    <v-img :src="icon" />
                </v-list-item-avatar>

                <v-list-item-content class="pl-2">
                    <v-list-item-title class="text-h5">
                        <strong class="mr-1 font-weight-black">Backtracing</strong>
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-divider class="mx-3 mb-2" />

            <List :items="items" />
        </div>
        <div class="pt-12" />
    </v-navigation-drawer>
</template>

<script>
import List from "./List.vue";
export default {
    name: "Drawer",
    props: {
        mini: {
            type: Boolean,
            default: false,
        },
        items: {
            type: Array,
            default: () => [],
        },
    },
    components: {
        List,
    },
    data: () => ({
        dark: true,
        image:
            "https://demos.creative-tim.com/material-dashboard-pro/assets/img/sidebar-1.jpg",
        icon:
            "https://vidasoft.es/wp-content/uploads/2019/01/cropped-versionFINALlogotipovidasoft-02-1-32x32.png",
        gradient: "rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)",
        drawer: null,
        drawerImage: false,
    }),
};
</script>
