<template>
    <v-app id="app" data-app app-data="true" light>
        <!-- <AppBar :mini="mini" @miniToggle="mini = !mini" /> -->

        <Drawner :mini="mini" :items="links" />

        <v-main>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import AppBar from "@layouts/AppBar.vue";
import Drawner from "@layouts/Drawner.vue";

export default {
    name: "MainLayout",
    components: {
        AppBar,
        Drawner,
    },
    data: () => ({
        mini: false,
        links: [
            {
                title: "Dashboard",
                icon: "mdi-view-dashboard",
                to: "/dashboard",
            },
            {
                title: "Projects",
                icon: "mdi-application-cog-outline",
                to: "/projects",
            },
            {
                title: "Logs",
                icon: "mdi-clipboard-outline",
                to: "/logs",
            },
            {
                title: "Ajustes",
                icon: "mdi-cog-outline",
                to: "/ajustes",
            },
        ],
    }),
};
</script>
